<ion-header>
  <ion-toolbar>
    <ion-title>escuelas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModalEscuela()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let escuela of escuelas">
      <ion-label>
        <h1>{{escuela.plantel}}</h1>
        CCT: <b>{{escuela.cct}}</b>
      </ion-label>
     </ion-item>
  </ion-list>

</ion-content>
